<h1><a href="http://<%= host %>:3000/">Kino Wawel</a></h1>
<div class="burger-menu">
    <div class="line">
        <span class="left"></span>
        <span class="right"></span>
    </div>
    <div class="line">
        <span class="left"></span>
        <span class="right"></span>
    </div>
    <div class="line">
        <span class="left"></span>
        <span class="right"></span>
    </div>
</div>
<div id="navigation">
    <nav>
        <ul>
            <% if (user?.role == 'admin') { %>
                <li><a href="administracja">Administracja</a></li>
            <% } %>
            <li><a href="repertuar">Repertuar</a></li>
            <li><a href="wydarzenia">Wydarzenia</a></li>
            <li><a href="kontakt">Kontakt</a></li>
            <% if (!user) { %>
                <li class="signin">
                    <a href="logowanie">Logowanie</a>
                    <span>|</span>
                    <a href="rejestracja">Rejestracja</a>
                </li>
            <% } %>
        </ul>
        <% if (user) { %>
            <div class="user-menu">
                <div class="user">
                    <div class="icon-user">
                        <span class="head"></span>
                        <span class="body"></span>
                    </div>
                </div>
                <menu>
                    <li><p class="username"> <%= user.username %> </p></li>
                    <li><a href= <%= user.username + '/bilety' %> >Moje bilety</a></li>
                    <li><a href= <%= user.username + '/recenzje' %> >Moje recenzje</a></li>
                    <li><a href= <%= user.username + '/obejrzane' %> >Obejrzane filmy</a></li>
                    <li><a href="wyloguj">Wyloguj</a></li>
                </menu>
            </div>
        <% } %>
    </nav>
</div>