<!DOCTYPE html>
<html lang="pl">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="stylesheets/edit review.css">
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <div class="wrapper">
            <section>
                <form action="reviews/review" method="POST">
                    <input type="hidden" name="movieId" value="<%= review.movie_id %>">
                    <h2><span class="capital">T</span>woja recenzja filmu: </h2>
                    <div class="rating">
                        <p>Ocena:</p>
                        <div class="stars" data-rating="<%= review.rating %>">
                            <% for (let i = 0; i < 5; i++) { %>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.96 19.96" class="star <%= i < review.rating ? 'full' : '' %>"><polygon points="19.46 7.35 12.26 7.35 9.98 0.5 7.7 7.35 0.5 7.35 6.34 11.61 4.22 18.46 9.98 14.3 15.74 18.46 13.62 11.61 19.46 7.35 19.46 7.35" /></svg>
                            <% } %>
                            <input type="hidd" name="rating" value="<%= review.rating %>">
                        </div>
                    </div>
                    <label for="review">Recenzja</label>
                    <textarea name="review" id="review" cols="26" rows="12"><%= review.review %></textarea>
                    <div class="buttons">
                        <a href="" class="btn cta-2">Anuluj</a>
                        <button type="submit" class="cta-1"><%= review.edit ? 'Edytuj' : 'Dodaj' %> recenzje</button>
                    </div>
                </form>
            </section>
            <aside>
                <img src="images/posters/<%= review.title.replaceAll(/[^a-zA-Z0-9ĄĆĘŁŃÓŚŹŻąćęłńóśźż/ .]/g, '') %>.jpg" alt="">
                <p><%= review.description %> </p>
            </aside>
        </div>
    </main>
    <script src="javascripts/main.js"></script>
    <script src="javascripts/edit review.js"></script>
</body>
</html>