<!DOCTYPE html>
<html lang="pl">
<head>
    <%- include('../partials/head')  %> 
    <link rel="stylesheet" href="stylesheets/landing.css">
</head>
<body>
    <header>
        <%- include('../partials/header')  %> 
    </header>
    <main>
        <span class="arrow left"></span>
        <%
        const positions = ['left', 'center', 'right'];
        
        for(const [i, movie] of movies.entries()) { 
        %>
            <div class="movie <%= positions[i] %>">
                <div class="title">
                    <h2><%= movie.title %></h2>
                    <div>
                        <a href="film/<%= movie.movie_id %>/Kraków/<%= new Date().toISOString().slice(0, 10) %>/<%= movie.title %>" class="cta-1">Kup bilet</a>
                        <a href="<%= movie.trailer %>" class="cta-2">Obejrzyj zwiastun</a>
                    </div>
                </div>
                <img src="images/background/<%= movie.title.replaceAll(/[^a-zA-Z0-9ĄĆĘŁŃÓŚŹŻąćęłńóśźż/ .]/g, '') %>.jpg" alt="<%= movie.title %>" <%= i != 0 ? 'loading' : '' %>>
            </div>
        <% } %>
        <span class="arrow right"></span>
    </main>
    <script src="javascripts/main.js"></script>
    <script src="javascripts/landing.js"></script>
</body>
</html>