<!DOCTYPE html>
<html lang="pl">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="stylesheets/reviews.css">
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <div class="wrapper">
            <header class="bottom-gradient-border">
                <h2><span class="capital">M</span>oje recenzje</h2>
            </header>
            <% if (reviews.length == 0) { %>
                <h2>Brak dodanych recenzji</h2>
            <% } else { %>
                <% for (const review of reviews) { %> 
                    <article class="listing description">
                        <img src="images/posters/<%=review.title.replaceAll(/[^a-zA-Z0-9ĄĆĘŁŃÓŚŹŻąćęłńóśźż/ .]/g, '')%>.jpg" alt="<%= review.title %>">
                        <div class="body">
                            <header class="bottom-gradient-border">
                                <div>
                                    <h2><a href="film/<%= review.movie_id %>/Kraków/<%= new Date().toISOString().slice(0, 10) %>/<%= review.title %>"><%= review.title %></a></h2>
                                    <div class="stars" data-rating="<%= review.rating %>">
                                        <% for (let i = 0; i < 5; i++) { %>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.96 19.96" class="star <%= i < review.rating ? 'full' : '' %>"><polygon points="19.46 7.35 12.26 7.35 9.98 0.5 7.7 7.35 0.5 7.35 6.34 11.61 4.22 18.46 9.98 14.3 15.74 18.46 13.62 11.61 19.46 7.35 19.46 7.35" /></svg>
                                        <% } %> 
                                    </div>
                                </div>
                                <a href="<%= user.username %>/recenzje/edytuj/<%= review.review_id %>" class="btn cta-1">Edytuj</a>
                            </header>
                            <p><%= review.review %></p>
                        </div>
                    </article>
                <% } %>
            <% } %>
        </div>
    </main>
    <script src="javascripts/main.js"></script>
</body>
</html>